html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    }
    body {
    background: url("/book-bg.jpg") no-repeat center;
    background-size: cover;
    }
    h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    }
    h2 {
    margin: 0 0 0 8px;
    }
    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5); 
    }
    .fas{
        color: #f35201;
    }
    .left-part, form {
    padding: 25px;
    }
    .left-part {
    text-align: center;
    }
    .animate__animated.animate__backInRight{
        --animate-duration:5s;
    }
    .fa-graduation-cap {
    font-size: 72px;
    }
    form {
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 20px;
    /* border: solid #871616 3px; */
    }
    .animate__animated.animate__bounceInDown{
        --animate-duration:10s;
    }
    .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .animate__animated.animate__slideInDown{
        --animate-duration:5s;
    }
    .info {
    display: flex;
    flex-direction: column;
    }
    .animate__animated.animate__bounceInUp{
        --animate-duration:10s;
    }
    input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }
    input::placeholder {
    color: #eee;
    }
    option:focus {
    border: none;
    }
    option {
    background: black; 
    border: none;
    }
    .checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
    }
    .checkbox a {
    color: #f35201;
    }
    .checkbox a:hover {
    color: #85d6de;
    }
    .btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #f35201; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    }
    .btn-item {
    display: inline-block;
    margin: 20px 5px 0;
    }
    button {
    width: 100%;
    }
    button:hover, .btn-item:hover {
    background: #e77635;
    }

    @media (min-width: 568px) {
    html, body {
    height: 100%;
    }
    .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
    }
    .left-part, form {
    flex: 1;
    height: auto;
    }
    }

    .landing-hero {
        background-image: url('/welcome-bg.jpg');
        background-size: cover;
        background-position: center;
        height: 500px;
        text-align: center;
        color: white;
        padding: 100px 0;
      }
      .landing-hero h2 {
        font-size: 48px;
        margin-bottom: 20px;
        font-weight: 600;
      }
      .landing-hero p {
        font-size: 34px;
        position: absolute;
        bottom: 0;
        left: 28%;
        font-weight: 600;
      }
    header{
        background-color: #e46f1a;
        padding: 10px;
        text-align: center;
      }

.logo{
    font-weight: 600;
}
  